
<h1>Search Results</h1>

<% @results.each do |result| %>
  <div class="result">
  <h2><%= link_to result["name"], result["html_url"] %></h2>
    <p><%= result["description"] %></p>
    <p>Forks: <%= result["forks_count"] %></p>
    <p>Language: <%= result["language"] %></p>
    <p>Stars: <%= result["stargazers_count"] %></p>
    <p>Updated: <%= result["updated_at"] %></p>
  </div>
<% end %>

